<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.commands">
      <category
         id="fr.neontus.keybindings.vscode.commands.category"
         name="VSCode Keybindings">
      </category>
   </extension>

   <extension point="org.eclipse.ui.bindings">
      <scheme
         id="fr.neontus.keybindings.vscode.scheme"
         name="VSCode Keybinding Scheme"
         parentId="org.eclipse.ui.defaultAcceleratorConfiguration">
      </scheme>
      <key
         commandId="org.eclipse.ui.file.save"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+S">
      </key>
      <key
         commandId="org.eclipse.ui.file.saveAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+S">
      </key>
      <key
         commandId="org.eclipse.ui.newWizard"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+N">
      </key>
      <key
         commandId="org.eclipse.ui.file.closeAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+W">
      </key>
      <key
         commandId="org.eclipse.ui.file.close"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+W">
      </key>






      
      <key
         commandId="org.eclipse.ui.edit.undo"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+Z">
      </key>
      <key
         commandId="org.eclipse.ui.edit.redo"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+Y">
      </key>
      <key
         commandId="org.eclipse.ui.edit.cut"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+X">
      </key>
      <key
         commandId="org.eclipse.ui.edit.copy"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+C">
      </key>
      <key
         commandId="org.eclipse.ui.edit.paste"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+V">
      </key>
      <key
         commandId="org.eclipse.ui.edit.delete"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="DELETE">
      </key>
      <key
         commandId="org.eclipse.ui.edit.selectAll"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+A">
      </key>
      <key
         commandId="org.eclipse.ui.edit.findReplace"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+H">
      </key>
      <key
         commandId="org.eclipse.ui.edit.findNext"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F3">
      </key>
      <key
         commandId="org.eclipse.ui.edit.findPrevious"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M2+F3">
      </key>
      <key
         commandId="org.eclipse.search.ui.performTextSearchWorkspace"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+F">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.search.references.in.workspace"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M2+F12">
      </key>
      <key
         commandId="org.eclipse.ui.navigate.backwardHistory"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M3+ARROW_LEFT">
      </key>
      <key
         commandId="org.eclipse.ui.navigate.forwardHistory"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M3+ARROW_RIGHT">
      </key>
      <key
         commandId="org.eclipse.ui.navigate.previous"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+PAGE_UP">
      </key>
      <key
         commandId="org.eclipse.ui.navigate.next"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+PAGE_DOWN">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.upperCase"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+U">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.lowerCase"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+L">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.toggle.comment"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+/">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.format"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+F">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.copyLineUp"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+M3+UP">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.copyLineDown"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+M3+DOWN">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.ToggleBreakpoint"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F9">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.StepOver"
         contextId="org.eclipse.debug.ui.debugging"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F10">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.StepInto"
         contextId="org.eclipse.debug.ui.debugging"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F11">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.StepReturn"
         contextId="org.eclipse.debug.ui.debugging"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M2+F11">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.Resume"
         contextId="org.eclipse.debug.ui.debugging"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F5">
      </key>
      <key
         commandId="org.eclipse.debug.ui.commands.Terminate"
         contextId="org.eclipse.debug.ui.debugging"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M2+F5">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.rename.element"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F2">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F12">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.show.outline"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+O">
      </key>
      <key
         commandId="org.eclipse.ui.window.maximizePart"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+M3+M">
      </key>
      <key
         commandId="org.eclipse.ui.window.previousEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+PAGE_UP">
      </key>
      <key
         commandId="org.eclipse.ui.window.nextEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+PAGE_DOWN">
      </key>
      <key
         commandId="org.eclipse.ui.window.quickAccess"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+P">
      </key>
      <key
         commandId="org.eclipse.ui.views.showView"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+V">
      </key>
      <key
         commandId="org.eclipse.tm.terminal.view.ui.command.launchToolbar"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+`">
      </key>
      <key
         commandId="org.eclipse.ui.window.quickAccess"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+P">
      </key>
      <key
         commandId="org.eclipse.ui.window.quickAccess"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+P">
      </key>
      <key
         commandId="org.eclipse.ui.views.showView"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+B">
      </key>
      <key
         commandId="org.eclipse.ui.views.showView"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+E">
      </key>
      <key
         commandId="org.eclipse.ui.window.splitEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+\\">
      </key>
      <key
         commandId="org.eclipse.ui.window.splitEditor"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+\\">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.folding.collapse"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+[">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.folding.expand"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+]">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.open.editor"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F12">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.search.declarations.in.workspace"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+F12">
      </key>
      <key
         commandId="org.eclipse.search.ui.openSearchDialog"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+F">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.extract.method"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+M">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.move.element"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="F6">
      </key>
      <key
         commandId="org.eclipse.egit.ui.team.ShowHistory"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+M2+G">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.deleteNextWord"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+DELETE">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.deletePreviousWord"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+BACKSPACE">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.select.wordNext"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+D">
      </key>
      <key
         commandId="org.eclipse.ui.window.maximizePart"
         contextId="org.eclipse.ui.contexts.window"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+K Z">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.goto.lineStart"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="HOME">
      </key>
      <key
         commandId="org.eclipse.ui.edit.text.goto.lineEnd"
         contextId="org.eclipse.ui.textEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="END">
      </key>
      <key
         commandId="org.eclipse.jdt.ui.edit.text.java.correction.assist.proposals"
         contextId="org.eclipse.jdt.ui.javaEditorScope"
         schemeId="fr.neontus.keybindings.vscode.scheme"
         sequence="M1+.">
      </key>
   </extension>
</plugin>